<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<!--    <filter>-->
<!--        <filter-name>ResourcesFilter</filter-name>-->
<!--        <filter-class>com.ecommerce.Filters.ResourcesFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>ResourcesFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->


    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.ecommerce.Controllers.FrontController.FrontController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/front</url-pattern>
    </servlet-mapping>

<!--    <welcome-file-list>-->
<!--        <welcome-file>-->
<!--            index.jsp-->
<!--        </welcome-file>-->
<!--    </welcome-file-list>-->
    
    <error-page>
        <location>/pages/error.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.ecommerce.Controllers.AdminControllers.AdminFrontController</servlet-class>
    </servlet>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminServlet</web-resource-name>
            <url-pattern>/Admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>easy-cart-admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>easy-cart-admin</role-name>
    </security-role>


    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>front</welcome-file>
    </welcome-file-list>

</web-app>
